/* src/assets/style/product-list.css */
.product-list-page, .product-old-list-page {
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card button {
  margin: 5px;
}
.main.sidebar-admin .content {
  width: 100%;
  max-width: none;
  display: flex;
  flex-direction: column;
}